@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

:root {
  --type-color: #84918d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oxanium', monospace;
}

html, body {
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 2rem;
  /* background: linear-gradient(175deg, red 0 37%, hsl(10, 82%, 53%) 40%, #a62c2b 46%, red 100%); */
  background: linear-gradient(red, #a62c2b);
    /* #f00d; */
  border-bottom: 1.5rem solid #000;
}