@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

:root {
  --type-color: #84918d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oxanium', monospace;
  list-style: none;
}

html, body {
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red, #a62c2b);
  border-bottom: 2rem solid #000;
  position: relative;
}

button {
  width: 7rem;
  height: 7rem;
  border: 1.7rem solid #000;
  border-radius: 50%;
  position: absolute;
  top: 13.1rem;
  box-shadow: inset -2px -2px 3px #555;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 800;
}

@media screen and (min-width: 569px) {
  button {
    width: 9.5rem;
    height: 9.5rem;
    border: 2.5rem solid #000;
    top: 14rem;
    font-size: 1.2rem;
  }

  header {
    border-bottom: 3rem solid #000;
    position: relative;
  }
}